/* Level 1 header icons */

.password H1 {
    background: url('password-password-icon.png') 0 0 / 32px 32px no-repeat;
}
/* Note */

.note P {
    color: #969696;
}
/* Password change form */

.password FORM {
    margin-top: 20px;
}
.password TABLE {
    width: 100%;
    font-size: 110%;
}
.password TD {
    height: 45px;
    vertical-align: middle;
    white-space: nowrap;
}
.password .label {
    width: 160px;
    text-align: right;
    font-size: 90%;
    color: #969696;
}
.password .input {
    padding-left: 15px;
}
.password .input-field {
    height: 23px;
    width: 210px;
    padding: 5px;
    font-size: 120%;
}