@import url('styles-reset.css');
/* CUSTOM FONT-FACES
######################################### */

@font-face {
    font-family: 'Regular';
    src: url('fonts/regular.eot');
    src: url('fonts/regular.eot?#iefix') format('embedded-opentype'), url('fonts/regular.woff2') format('woff2'), url('fonts/regular.woff') format('woff'), url('fonts/regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bold';
    src: url('fonts/bold.eot');
    src: url('fonts/bold.eot?#iefix') format('embedded-opentype'), url('fonts/bold.woff2') format('woff2'), url('fonts/bold.woff') format('woff'), url('fonts/bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Italic';
    src: url('fonts/italic.eot');
    src: url('fonts/italic.eot?#iefix') format('embedded-opentype'), url('fonts/italic.woff2') format('woff2'), url('fonts/italic.woff') format('woff'), url('fonts/italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Light';
    src: url('fonts/light.eot');
    src: url('fonts/light.eot?#iefix') format('embedded-opentype'), url('fonts/light.woff2') format('woff2'), url('fonts/light.woff') format('woff'), url('fonts/light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* INITIAL */
BODY {
    padding: 5%;
    background-color: #fff;
    font-family: Regular, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3f3f3f;
    font-size: 95%;
    text-align: center;
    
    -webkit-font-smoothing: subpixel-antialiased;
}
A {
    color: #3a82ed;
    text-decoration: underline;
}
A:hover {
    color: #e6332a;
}
P {
    line-height: 140%;
}
TD {
    vertical-align: top;
}
/* Page layout */

#wrap {
    max-width: 1200px;
    margin: 0 auto;
}
#layout {
    width: 100%;
}
#layout .side {
    width: 290px;
}
/* HEADER */

#header .logo A {
    height: 61px;
    width: 270px;
    background: url('header-logo.png') 0 0 / 270px 61px no-repeat;
    display: block;
}
#header .sublogo A {
    height: 19px;
    width: 193px;
    margin-top: 20px;
    background: url('header-sublogo.png') 0 0 / 193px 19px no-repeat;
    display: block;
    float: left;
}
#header .sublogo H1 {
    margin: 24px 0 0 195px;
    font-size: 120%;
    color: #ccc;
}
#header .logout > A {
    height: 16px;
    margin-top: 25px;
    padding-left: 20px;
    background: url('header-logout-icon.png') 0 0 / 16px 16px no-repeat;
    font-size: 110%;
    text-decoration: none;
    display: block;
    float: right;
}
#header .logout > A SPAN {
    text-decoration: underline;
}
#header .un {
    height: 16px;
    margin-top: 25px;
    margin-right: 20px;
    padding-left: 20px;
    background: url('header-un-icon.png') 0 0 / 16px 16px no-repeat;
    font-size: 110%;
    text-decoration: none;
    display: block;
    float: right;
}
#header .un iframe {
    margin-top: -3px;
}
#header .un a.no {
    text-decoration: none;
    color: #3f3f3f;
    cursor: help;
}
#header .un .tooltip {
    width: 240px;
    margin: 15px 0 0 -90px;
    padding-top: 15px;
    background: url('header-un-arrow.png') no-repeat 50% 8px;
    display: none;
    position: absolute;
}
#header .un .tooltip .border {
    width: 240px;
    padding: 6px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
}
#header .un:hover .tooltip {
    display: block;
}
/*#header .un span {border-bottom: 1px dotted;}*/
/* CONTENT */

#page .side,
#page .content {
    padding: 25px 0 40px 0;
}
/* Menu */

#page .menu {
    width: 258px;
    background: #ecf5f9;
    border-radius: 4px;
}
#page .menu A {
    height: 40px;
    width: 200px;
    padding-left: 50px;
    font-size: 100%;
    line-height: 40px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#page .menu A:hover {
    color: #fff;
}
#page .menu .general {
/*     padding-top: 10px; */
}
#page .menu .help {
    padding: 6px 0 0 0;
}
#page .menu .general a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#page .menu .help a {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
#page .menu .general A {
    background: url('menu-general-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .general A:hover {
    background: url('menu-general-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .refill A {
    background: url('menu-refill-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .refill A:hover {
	background: url('menu-refill-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .payments A {
    background: url('menu-payments-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .payments A:hover {
    background: url('menu-payments-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .messages A {
    background: url('menu-messages-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .messages A:hover {
    background: url('menu-messages-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .password A {
    background: url('menu-password-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .password A:hover {
    background: url('menu-password-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .switch A {
    background: url('menu-switch-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .switch A:hover {
    background: url('menu-switch-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
#page .menu .help A {
    font-size: 120%;
    background: url('menu-help-icon.png') 5px 0 / 40px 80px no-repeat;
}
#page .menu .help A:hover {
    background: url('menu-help-icon.png') 5px -40px / 40px 80px no-repeat #3a82ed;
}
/* Help box */

#page .info {
    width: 258px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    background-color: #fbfbe2;
    border-radius: 4px;
}
#page .info H1 {
    height: 32px;
    padding-left: 46px;
    background: url('menu-info-icon.png')  10px 0 / 32px 32px no-repeat;
    line-height: 32px;
    font-size: 140%;
    color: #0cbcff;
    display: block;
}
#page .info P {
    padding: 10px 15px 0 15px;
    font-size: 90%;
}
#page .info P STRONG {
    font-family: Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#page .info .more {
    padding: 10px 10px 0 0;
    text-align: right;
    text-decoration: none;
    display: block;
}
#page .info .more SPAN {
    text-decoration: underline;
}
#page .info UL {
    margin: 10px 10px 5px 18px;
}
#page .info LI {
    padding: 3px 0 3px 17px;
    background: url('general-list-bullet.png') no-repeat 0 11px;
    font-family: Italic, "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 120%;
}
/* Generic table styles */

.supertable {
    border-collapse: separate;
    border: 1px solid #d6e9f1;
    border-radius: 4px;
}
.supertable TD,
.supertable TH {
    padding: 10px;
    border-bottom: 1px solid #d6e9f1;
    vertical-align: middle;
    line-height: 140%;
}
.supertable TH {
    font-size: 110%;
    color: #4999bb;
}
.supertable .ending TD {
    height: 8px;
    padding: 0;
    border: 0;
}
.content H1 {
    height: 32px;
    margin-bottom: 10px;
    padding-left: 35px;
    line-height: 32px;
    font-size: 160%;
    color: #7abd19;
    font-family: Light, "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: block;
}
.content INPUT {
    height: 35px;
    padding: 0 15px 0 15px;
    font-size: 110%;
}
.iefix {
    color: #fff;
}
/* Confirm */

.confirm {
    margin: 15px 0 0 0;
    padding: 7px;
    background-color: #0cbcff;
    border-radius: 4px;
}
.confirm H2 {
    font-size: 160%;
    color: #fff;
}
/* LiveValidation */

.LV_validation_message {
    font-size: 80%;
    font-family: Bold, "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0 0 0 5px;
    white-space: nowrap;
}
.LV_valid {
    color: #00CC00;
}
.LV_invalid {
    color: #CC0000;
}
.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
/* FOOTER */

#footer .container {
    padding: 15px;
    border-top: 1px solid #b4b4b4;
}
#footer TABLE {
    width: 100%;
}
#footer .copyright {
    padding: 0 15px 0 165px;
    background: url('footer-logo.png') 0 0 / 150px 32px no-repeat;
}
#footer .copyright P {
    font-size: 90%;
    color: #969696;
    white-space: nowrap;
}
#footer .copyright SPAN {
    padding-left: 13px;
}
#footer .email {
    width: 150px;
    padding: 0 15px 0 35px;
    background: url('footer-mail-icon.png') 0 2px / 26px 18px no-repeat;
}
#footer .email A {
    font-size: 120%;
    color: #969696;
}
#footer .email A:hover {
    color: #ef6500;
}
#footer .phone {
    width: 100px;
    padding-left: 35px;
    background: url('footer-phone-icon.png') 0 0 / 28px 28px no-repeat;
}
#footer .phone P {
    font-size: 160%;
    color: #969696;
    line-height: 95%;
    white-space: nowrap;
}
#footer .phone SPAN {
    font-size: 60%;
}



/*Unit Switcher*/
.general .ballance p {
    border-radius:4px 4px 0 0!important;
}

.switcher-container{
    position: relative;
}

.switcher {
    max-width:128px;
    width:100%;
    border-radius:0 0 4px 4px;
    border-top:none;
    position: absolute;
    right: 0px;
    top: 47px;
    box-sizing: border-box;
    overflow: hidden;
}

.switcher label {
    display: block;
    left: 0px;
    top: 0;
    position: relative;
    max-width:128px;
    width:100%;
    height: 25px;
    z-index: 10;
    line-height: 25px;
    background: #ecf5f9;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.switcher label:after {
    content: "Юнит";
    width: 50%;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    background: rgb(122, 189, 25, .3);
    cursor: pointer;
    color:#000;
}

.switcher label:before {
    content: "Юнит";
    width: 50%;
    height: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    color:#000;
}

.switcher #currency-swither {
    display: none;
}

.switcher :checked + label {
    left: 0px;
}

.switcher :checked + label:after {
    left: 64px;
    background: rgb(122, 189, 25, .3);
    content: "Гривна";
}

.switcher :not(:checked) + label:before {
    left: 64px;
    color:#000;
    content: "Гривна";
}
/*Unit Switcher*/