/* Level 1 header icons */
.refill H1 {background:url('refill-refill-icon.png') no-repeat;}

/* Tabs */
.refill .tab {height:24px; width:338px; margin:25px 0 0 42px; padding:10px; font-size:110%; color:#0cbcff;}
	.refill .tab A {text-decoration:none; border-bottom:1px dashed #0cbcff; white-space:nowrap;}
	.refill .tab A:hover {border-bottom:1px dashed #ef6500;}
	.refill H2 {white-space:nowrap;}
	.refill .pin .tab {background:url('refill-submenu-pin.png') no-repeat;}
	.refill .pin .tab H2 {margin-left:5px; float:left;}
	.refill .pin .tab A {margin-right:33px; float:right;}
	.refill .ccd .tab {background:url('refill-submenu-ccd.png') no-repeat;}
	.refill .ccd .tab H2 {margin-right:28px; float:right;}
	.refill .ccd .tab A {margin-left:6px; float:left;}

/* Refill form */
.refill .form {margin-top:10px; position:absolute;}
	.refill .form TABLE {font-size:110%;}
	.refill .form TD {height:45px; vertical-align:middle; white-space:nowrap;}
	.refill .form .label {width:160px; padding-right:15px; text-align:right; font-size:90%; color:#969696;}
	.refill .form .input-field {height:23px; padding:5px; font-size:120%;}
	.refill .pin .input-field {width:210px;}
	
.refill .switch {position:absolute;}
	.refill .switch A {font-size:110%; font-style:italic; text-decoration:none; border-bottom:1px dashed #0cbcff;}
	.refill .switch A:hover {border-bottom:1px dashed #ef6500;}

/* Refill instructions */
.refill .instruction {margin-top:30px; padding-bottom:280px;}	
	.refill .pin .instruction .text {padding:190px 0 0 300px;}
	.refill .instruction P {padding-bottom:10px;}
	.refill .instruction EM {font-style:italic;}
	.refill .instruction STRONG {font-weight:bold;}

/* Instruction for cards */
.refill .card {background:url('refill-card-image.png') no-repeat 0 3px;}
.refill .card .switch {margin:365px 0 0 85px;}

/* Instruction for cheque */
.refill .cheque {background:url('refill-cheque-image.png') no-repeat 0 3px;}
.refill .cheque .switch {margin:560px 0 0 65px;}

/* Instruction for Credit Cards */
/* Instruction for cheque */
.refill .ccd .instruction {background:url('refill-ccd-image.png') no-repeat 70px 290px;}
	.refill .ccd .instruction .text {padding:290px 0 0 300px;}


/* Refill form by Credit Card */
.refill .ccd .long {width:210px;}
.refill .ccd .short {width:135px;}
.refill .qty STRONG {padding:0 9px 0 9px; font-size:160%; color:#8e8e8e;}
.refill .qty B {font-size:140%;}
.refill .valid STRONG {padding:0 9px 0 9px; font-size:160%; color:#8e8e8e;}
	.refill .valid-month {height:35px; width:50px; font-size:110%;}
	.refill .valid-year {height:35px; width:65px; font-size:110%;}
.refill .sep TD {padding-top:10px;}
.refill .valid-month SPAN {display:none;}
.refill .valid-year B {color:#fff;}


.refill .nominal A {height:21px; width:31px; margin:18px 8px 0 0; display:block; float:left;}
	.refill .nominal .fiveu {background:url('refill-ccd-5u.png') no-repeat;}
	.refill .nominal .tenu {background:url('refill-ccd-10u.png') no-repeat;}
	.refill .nominal .twentyu {background:url('refill-ccd-20u.png') no-repeat;}
	.refill .nominal .fiftyu {background:url('refill-ccd-50u.png') no-repeat;}
	
.refill .disable {height:310px; width:425px; margin-left:42px; background:url('refill-ccd-disable.gif'); border-radius:8px; -moz-border-radius:8px; position:absolute; z-index:999; }
	.refill .disable P {margin-top:120px; text-align:center; font-size:110%; font-weight:bold;}

/* JS POPUP */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:580px; width:450px; background-color:#fff; border:2px solid #0cbcff; border-radius:15px; -moz-border-radius:15px; padding:15px 0 0 15px;}
#simplemodal-container a.modalCloseImg {background:url(close.png) no-repeat; width:22px; height:22px; display:inline; z-index:3200; position:absolute; top:3px; right:3px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:0;}

.simplemodal-close-btm {margin-top:-30px; position:absolute;}
	.simplemodal-close-btm A {text-decoration:none; font-size:120%;}
	.simplemodal-close-btm A SPAN {border-bottom:1px dashed #0cbcff;}
	.simplemodal-close-btm A:hover SPAN {border-bottom:1px dashed #ef6500;}
